@import "_mixins.scss";
@import "_theme";

.adviser-bage{
    background-color:#ffab00;color:#fff;font-size:.6rem;display:inline-block;border-radius:.6rem;
    .icon-star{margin-right:.1rem;padding:0 .2rem;
        &:before{
            content:"\e6a7";font-size:.6rem;
        }
    }
}







