@import "_mixins.scss";
@import "_theme";



.picker-calendar {

    .picker-calendar-month {
        height: 100%;
        padding-top: 15%;
    }

    .picker-calendar-row {

        &:after {
            display: none;
        }
    }

    .picker-calendar-day-today.picker-calendar-day-selected {
        span {
            color: #fff;
        }
    }

    .picker-calendar-month-current {
        &:before {
            position: absolute;
            display: inline-block;
            bottom: .5rem;
            left: 50%;
            @include transform(translate(-50%));
            content: '\e616';
            z-index: 100;
            color: $palette-main;
            font-size: 1.2rem;
        }
    }

    .picker-calendar-month-next {
    }

    .second-toolbar {
        height: 2rem;
        overflow: hidden;
        background-color: #f0f0f0;

        .picker-calendar-year-picker {
            line-height: 2rem;
            width: 100%;
        }

        .picker-calendar-next-year {
            float: right;
            text-align: right;
            padding-right: .5rem;
        }

        .current-year-value {
            text-align: center;
        }

        .icon {
            background: none;

            &:before {
                color: #999;
            }
        }

        .icon-prev {
            &:before {
                content: '\e608';
                margin-left: .5rem;
            }
        }

        .icon-next {
            &:before {
                content: '\e618';
            }
        }

        .picker-calendar-month-picker a.icon-only, .picker-calendar-year-picker a.icon-only {
            height: 2rem;
            line-height: 2rem;
        }

        .picker-calendar-month-picker .current-month-value, .picker-calendar-month-picker .current-year-value, .picker-calendar-year-picker .current-month-value, .picker-calendar-year-picker .current-year-value {
            line-height: 2rem;
            height: 2rem;
        }
    }

    .picker-calendar-day-disabled.picker-calendar-day-next span {
        display: none;
    }

    .picker-calendar-month .month-title {
        position: absolute;
        top: .8rem;
        left: 0;
        width: 100%;
        text-align: center;
    }

    .icon-left {
        &:before {
            content: '\e608';
            color: #fff;
            font-size: 1.5rem;
            padding: .5rem;
        }
    }

    .toolbar-inner {


        .pull-right {
            position: absolute;
            right: .5rem;
            top: 50%;
            @include transform(translateY(-50%));
            color: #fff;
        }
    }

    &.flight {
        height: 100%;

        .mudidi {
            position: absolute;
            top: 40%;
            left: 50%;
            @include transform(translate(-50%,-50%));
            color: #fff;
            z-index: 100;
            font-size: .85rem;
            width: 70%;

            .icon-to {
                &:before {
                    content: '\e632';
                }
            }

            .start, .end {
                display: inline-block;
                overflow: hidden;
                text-overflow: ellipsis;
                transition: transform 0.8s ease 0s;
                vertical-align: -0.25rem;
                white-space: nowrap;
                width: 4rem;
            }

            .start {
                margin-right: .1rem;
                text-align: right;
            }

            .end {
                text-align: left;
            }

            .hint {
                position: absolute;
                bottom: -.5rem;
                left: 50%;
                @include transform(translate(-50%));
                font-size: .6rem;
            }
        }

        .picker-modal-inner {
            height: 60%;
            height: -moz-calc(100% - 3.8rem);
            height: -webkit-calc(100% - 3.8rem);
            height: calc(100% - 3.8rem);
        }

        .toolbar {
            //margin-bottom:2.5rem;
        }

        .icon-to {
            &:before {
                content: '\e65f';
                font-size: 1rem;
                color: #fff;
            }
        }
    }

    .datewrap {
        padding: .3rem 1rem 0;
        width: 100%;
        text-align: center;
        @include flex(1,1,100%);

        &.active {
            //opacity: .6;
        }
    }

    .select-guide {
        background-color: #fff;
        position: absolute;
        z-index: 100;
        top: 2.2rem;
        height: 2.5rem;
        color: #666;
        font-size: .55rem;
        width: 100%;
        border-bottom: 1px solid #dcdcdc;

        .date {
            font-size: .8rem;
            color: #3d4145;
        }

        .tit {
            line-height: .6rem;
        }

        .hint {
            position: absolute;
            left: 0;
            top: -1.6rem;
            width: 100%;
            white-space: nowrap;
            transition: all 1s;
            -moz-transition: all 1s;
            -webkit-transition: all 1s;
            @include transform(translate3d(100%,0,0));
            z-index: 100;
            text-align: center;
            pointer-events: none;

            &.animacenter {
                @include transform(translate3d(0,0,0));
            }

            &.animastart {
                @include transform(translate3d(-100%,0,0));
            }

            span {
                background-color: rgba(#373737,.8);
                padding: .3rem .8rem;
                display: inline-block;
            }
        }

        .mon {
            margin-left: .1rem;
        }
    }
}
