@charset "UTF-8";
.bar-moretab:after {
  content: "";
  height: 0;
  width: 0;
  overflow: hidden;
  position: absolute; }

.bar-moretab:after {
  content: "";
  height: 0;
  width: 0;
  overflow: hidden;
  position: absolute; }

.city-tabbar {
  background-color: transparent; }
  .city-tabbar:after {
    display: none; }

.city-search-list .item-content {
  display: block;
  overflow: hidden;
  padding-top: .2rem; }
  .city-search-list .item-content:after {
    content: '';
    height: 1px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: .75em;
    background-color: #e7e7e7; }
  .city-search-list .item-content p {
    line-height: normal; }

.city-search-list .name, .city-search-list .enname {
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
  overflow: hidden; }

.city-search-list .name {
  width: 78%;
  vertical-align: bottom; }

.city-search-list .enname {
  font-size: .6rem;
  color: #999;
  width: 100%; }

.city-search-list .citycode {
  color: #999;
  display: inline-block; }

.city-list-title {
  color: #999;
  font-size: .6rem;
  padding-left: .75rem;
  margin: .5rem 0 .2rem 0; }
  .city-list-title .subtit {
    font-size: .55rem;
    margin-left: .2rem; }

.city-list {
  overflow: hidden;
  padding: 0 .75rem; }
  .city-list .name {
    display: block;
    padding: .1rem .25rem;
    border: 1px solid #ccc;
    color: #333;
    width: 23.5%;
    white-space: nowrap;
    overflow: hidden;
    border-radius: 4px;
    text-overflow: ellipsis;
    float: left;
    font-size: .7rem;
    text-align: center;
    background-color: #fff;
    margin: 0 2% .3rem 0; }
    .city-list .name:active {
      opacity: .6; }
    .city-list .name:nth-child(4n) {
      margin-right: 0; }
  .city-list .active {
    background-color: #f44848;
    color: #fff;
    border: 0; }

.city-searchbar {
  height: 2.6rem; }
  .city-searchbar .searchbar {
    background-color: #f44848;
    height: 2.6rem; }
    .city-searchbar .searchbar .search-input input {
      height: 1.8rem; }
      .city-searchbar .searchbar .search-input input::-webkit-input-placeholder {
        font-size: .55rem; }
      .city-searchbar .searchbar .search-input input:-moz-placeholder {
        font-size: .55rem; }
      .city-searchbar .searchbar .search-input input::-moz-placeholder {
        font-size: .55rem; }
  .city-searchbar .searchbar-btn {
    color: #fff;
    margin-top: .2rem; }
  .city-searchbar ~ .bar-header-mult {
    top: 4.8rem; }
  .city-searchbar ~ .content {
    top: 4.8rem; }

.bar-header-mult.yqfCityTabs ~ .content {
  top: 6.6rem; }

.bar-moretab:after {
  content: "";
  height: 0;
  width: 0;
  overflow: hidden;
  position: absolute; }

.picker-calendar .picker-calendar-month {
  height: 100%;
  padding-top: 15%; }

.picker-calendar .picker-calendar-row:after {
  display: none; }

.picker-calendar .picker-calendar-day-today.picker-calendar-day-selected span {
  color: #fff; }

.picker-calendar .picker-calendar-month-current:before {
  position: absolute;
  display: inline-block;
  bottom: .5rem;
  left: 50%;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
  content: '\e616';
  z-index: 100;
  color: #f44848;
  font-size: 1.2rem; }

.picker-calendar .second-toolbar {
  height: 2rem;
  overflow: hidden;
  background-color: #f0f0f0; }
  .picker-calendar .second-toolbar .picker-calendar-year-picker {
    line-height: 2rem;
    width: 100%; }
  .picker-calendar .second-toolbar .picker-calendar-next-year {
    float: right;
    text-align: right;
    padding-right: .5rem; }
  .picker-calendar .second-toolbar .current-year-value {
    text-align: center; }
  .picker-calendar .second-toolbar .icon {
    background: none; }
    .picker-calendar .second-toolbar .icon:before {
      color: #999; }
  .picker-calendar .second-toolbar .icon-prev:before {
    content: '\e608';
    margin-left: .5rem; }
  .picker-calendar .second-toolbar .icon-next:before {
    content: '\e618'; }
  .picker-calendar .second-toolbar .picker-calendar-month-picker a.icon-only, .picker-calendar .second-toolbar .picker-calendar-year-picker a.icon-only {
    height: 2rem;
    line-height: 2rem; }
  .picker-calendar .second-toolbar .picker-calendar-month-picker .current-month-value, .picker-calendar .second-toolbar .picker-calendar-month-picker .current-year-value, .picker-calendar .second-toolbar .picker-calendar-year-picker .current-month-value, .picker-calendar .second-toolbar .picker-calendar-year-picker .current-year-value {
    line-height: 2rem;
    height: 2rem; }

.picker-calendar .picker-calendar-day-disabled.picker-calendar-day-next span {
  display: none; }

.picker-calendar .picker-calendar-month .month-title {
  position: absolute;
  top: .8rem;
  left: 0;
  width: 100%;
  text-align: center; }

.picker-calendar .icon-left:before {
  content: '\e608';
  color: #fff;
  font-size: 1.5rem;
  padding: .5rem; }

.picker-calendar .toolbar-inner .pull-right {
  position: absolute;
  right: .5rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #fff; }

.picker-calendar.flight {
  height: 100%; }
  .picker-calendar.flight .mudidi {
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #fff;
    z-index: 100;
    font-size: .85rem;
    width: 70%; }
    .picker-calendar.flight .mudidi .icon-to:before {
      content: '\e632'; }
    .picker-calendar.flight .mudidi .start, .picker-calendar.flight .mudidi .end {
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      transition: transform 0.8s ease 0s;
      vertical-align: -0.25rem;
      white-space: nowrap;
      width: 4rem; }
    .picker-calendar.flight .mudidi .start {
      margin-right: .1rem;
      text-align: right; }
    .picker-calendar.flight .mudidi .end {
      text-align: left; }
    .picker-calendar.flight .mudidi .hint {
      position: absolute;
      bottom: -.5rem;
      left: 50%;
      -webkit-transform: translate(-50%);
      transform: translate(-50%);
      font-size: .6rem; }
  .picker-calendar.flight .picker-modal-inner {
    height: 60%;
    height: -moz-calc(100% - 3.8rem);
    height: -webkit-calc(100% - 3.8rem);
    height: calc(100% - 3.8rem); }
  .picker-calendar.flight .icon-to:before {
    content: '\e65f';
    font-size: 1rem;
    color: #fff; }

.picker-calendar .datewrap {
  padding: .3rem 1rem 0;
  width: 100%;
  text-align: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 100%;
  -moz-box-flex: 1;
  -moz-flex: 1 1 100%;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%; }

.picker-calendar .select-guide {
  background-color: #fff;
  position: absolute;
  z-index: 100;
  top: 2.2rem;
  height: 2.5rem;
  color: #666;
  font-size: .55rem;
  width: 100%;
  border-bottom: 1px solid #dcdcdc; }
  .picker-calendar .select-guide .date {
    font-size: .8rem;
    color: #3d4145; }
  .picker-calendar .select-guide .tit {
    line-height: .6rem; }
  .picker-calendar .select-guide .hint {
    position: absolute;
    left: 0;
    top: -1.6rem;
    width: 100%;
    white-space: nowrap;
    transition: all 1s;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    z-index: 100;
    text-align: center;
    pointer-events: none; }
    .picker-calendar .select-guide .hint.animacenter {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0); }
    .picker-calendar .select-guide .hint.animastart {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0); }
    .picker-calendar .select-guide .hint span {
      background-color: rgba(55, 55, 55, 0.8);
      padding: .3rem .8rem;
      display: inline-block; }
  .picker-calendar .select-guide .mon {
    margin-left: .1rem; }

.bar-moretab:after {
  content: "";
  height: 0;
  width: 0;
  overflow: hidden;
  position: absolute; }

/*-------------图标字体    begin---------------*/
@font-face {
  font-family: 'iconfont';
  src: url("//at.alicdn.com/t/font_1465870619_6554105.eot");
  /* IE9*/
  src: url("//at.alicdn.com/t/font_1465870619_6554105.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_1465870619_6554105.woff") format("woff"), url("//at.alicdn.com/t/font_1465870619_6554105.ttf") format("truetype"), url("//at.alicdn.com/t/font_1465870619_6554105.svg#iconfont") format("svg");
  /* iOS 4.1- */ }

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }

[class^="icon-"]:before, [class*=" icon-"]:before, .flight-accordion-list .item-list::before, .list-block .item-inner:before, .list-block .item-input.arrow:before, .intlflight-list .item-list:before, .picker-calendar.flight .picker-calendar-month-current:before, .intlflight-list.privilege .item-link:before, .search-block .item-arrowleft:before {
  font-family: "iconfont" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  margin-right: 2px;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }

[class^="icon-"], [class*=" icon-"] {
  position: relative; }

.icon-arrow-left:before {
  content: '\e608'; }

.icon-arrow-right:before {
  content: '\e618'; }

.icon-arrow-up:before {
  content: '\e617'; }

.icon-clock:before {
  content: '\e637'; }

.icon-share::before {
  content: '\e679'; }

.icon-scan:before {
  content: '\e60a'; }

.icon-info:before {
  content: '\e6b2'; }

/*-------------图标字体    end-------------------------*/
.search-block {
  position: relative; }
  .search-block .passagers .item-inner {
    padding-right: 5px; }
  .search-block .passagers select {
    width: 2rem;
    display: inline-block;
    text-align: right;
    padding: 0 0 0 1.0rem;
    font-size: 0.9rem; }
  .search-block .passagers .unit {
    font-size: 0.6rem; }
  .search-block .passagers .item-title {
    font-size: .7rem; }
  .search-block .passagers .icon:before {
    font-size: 1rem; }
  .search-block .passagers .num {
    font-size: 1rem;
    margin: 0 .1rem 0 .3rem;
    border: none;
    width: 1rem;
    padding: 0;
    background-color: transparent; }
  .search-block .passagers .item-after {
    line-height: 1.25rem;
    padding-right: 1.3rem; }
  .search-block .item-arrowleft {
    position: relative;
    padding-right: 10px; }
    .search-block .item-arrowleft:before {
      position: absolute;
      right: 0;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      content: '\e618';
      color: #c8c8cd; }
  .search-block .date-wrap {
    margin-bottom: .5rem; }
    .search-block .date-wrap .icon {
      color: #a9b7b7;
      margin-right: .1rem; }
    .search-block .date-wrap .itembox {
      position: relative;
      padding: .3rem .6rem;
      width: 100%;
      -webkit-box-flex: 1;
      -webkit-flex: 1 1 100%;
      -moz-box-flex: 1;
      -moz-flex: 1 1 100%;
      -ms-flex: 1 1 100%;
      flex: 1 1 100%;
      transition: all .5s linear;
      -webkit-transition: all .5s linear; }
      .search-block .date-wrap .itembox ~ .itembox {
        width: 100%;
        margin-left: .5%; }
    .search-block .date-wrap .date {
      font-size: 1rem;
      width: 3rem;
      border: none;
      position: absolute;
      display: block;
      z-index: 100;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: transparent;
      padding: 1rem 0 0 .6rem; }
    .search-block .date-wrap .mon {
      font-size: .6rem;
      margin-left: 3rem; }
  .search-block .cabin .item-inner {
    padding-right: 5px; }
  .search-block .cabin .item-arrowleft {
    width: 100%;
    min-height: 2rem;
    display: block;
    padding-right: 15px; }
  .search-block .cabin select {
    position: absolute;
    right: 1.3rem;
    top: 0;
    text-align: right;
    height: 100%;
    width: 100%;
    padding-left: 60%; }
  .search-block .cabin .tit {
    line-height: 1rem;
    font-size: .8rem; }
  .search-block .cabin .item-title {
    font-size: .7rem; }
  .search-block .cabin .icon:before {
    font-size: 1rem; }
  .search-block .cabin .item-input {
    min-height: 2.2rem; }
  .search-block .icon-passger:before {
    content: '\e665';
    color: #a9b7b7; }
  .search-block .icon-cabin:before {
    content: '\e666';
    color: #a9b7b7; }
  .search-block .icon-switch {
    display: inline-block;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    border: 0.07rem solid #a9b7b7;
    background-color: #fff; }
    .search-block .icon-switch:before {
      content: '\e63f';
      color: #a9b7b7;
      display: inline-block;
      -webkit-transform: translate(0.12rem, 0.05rem);
      transform: translate(0.12rem, 0.05rem);
      font-size: .9rem; }
  .search-block .switch {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .search-block .multi-tool {
    visibility: hidden;
    height: 1rem;
    line-height: 1rem; }
  .search-block .multleg-btn {
    display: none;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    margin-bottom: .5rem;
    color: #e14a4f;
    font-size: .7rem; }
    .search-block .multleg-btn:active {
      background-color: #d9d9d9; }
    .search-block .multleg-btn .icon-add:before {
      content: '\e670';
      font-size: .8rem; }
  .search-block .history-btn {
    position: absolute;
    left: 50%;
    top: .2rem;
    z-index: 1;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #f5f5f5;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    display: block; }
  .search-block .leg-del {
    display: block; }
    .search-block .leg-del:before {
      color: #cccccc;
      font-size: .7rem; }
  .search-block .leg {
    font-size: .5rem;
    color: #d82028; }
  .search-block .icon-history {
    display: block;
    width: 1.5rem;
    height: 1.5rem; }
    .search-block .icon-history:before {
      content: '\e637';
      color: #999;
      font-size: 1rem;
      -webkit-transform: translate(28%, 0) rotate(235deg);
      transform: translate(28%, 0) rotate(235deg);
      display: inline-block; }
  .search-block .icon-start:before {
    content: '\e663'; }
  .search-block .icon-end:before {
    content: '\e662'; }
  .search-block .start .citybox {
    transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    -webkit-transform: translate(0, 1rem);
    transform: translate(0, 1rem); }
  .search-block .end .citybox {
    transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    -webkit-transform: translate(0, 1rem);
    transform: translate(0, 1rem); }
  .search-block .flyright .citybox {
    transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    opacity: 0;
    -webkit-transform: translate(90%, 1rem);
    transform: translate(90%, 1rem); }
  .search-block .flyleft .citybox {
    transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    opacity: 0;
    -webkit-transform: translate(-90%, 1rem);
    transform: translate(-90%, 1rem); }
  .search-block .icon-date:before {
    content: '\e614'; }
  .search-block .icon-del:before {
    content: '\e624'; }
  .search-block .itembox {
    background-color: #fff;
    box-shadow: 0 1px 1px #ccc;
    border-radius: 2px; }
  .search-block .search-wrap {
    margin-bottom: 0.5rem;
    position: relative;
    z-index: 0; }
    .search-block .search-wrap .itembox {
      width: 100%;
      padding-bottom: 2rem;
      -webkit-box-flex: 1;
      -webkit-flex: 1 1 100%;
      -moz-box-flex: 1;
      -moz-flex: 1 1 100%;
      -ms-flex: 1 1 100%;
      flex: 1 1 100%; }
      .search-block .search-wrap .itembox:last-child {
        margin-left: 0.5%; }
    .search-block .search-wrap .city {
      width: 100%;
      border: none;
      font-size: 1.2rem;
      text-align: center;
      color: #d82028; }
    .search-block .search-wrap .citycode {
      font-size: .7rem; }
    .search-block .search-wrap .citybox {
      text-align: center; }
    .search-block .search-wrap .subtitle {
      text-align: center;
      -webkit-transform: translateY(0.7rem);
      transform: translateY(0.7rem); }
      .search-block .search-wrap .subtitle i {
        margin-right: 3px; }
    .search-block .search-wrap .icon {
      color: #a9b7b7; }
      .search-block .search-wrap .icon:before {
        font-size: .8rem; }
  .search-block .subtitle {
    font-size: 0.6rem; }
  .search-block .btnbox {
    margin: .5rem 0; }
    .search-block .btnbox .button {
      height: 2rem; }

.home-inner {
  padding: .2rem .4rem; }

.nav-list .row {
  margin-left: 0; }
  .nav-list .row:nth-child(1) .link {
    width: 49.5%;
    height: 2.2rem;
    line-height: 2.2rem; }
  .nav-list .row:nth-child(1) .icon:before {
    font-size: 1rem;
    display: inline-block; }
  .nav-list .row:nth-child(2) .link {
    height: 3rem; }
  .nav-list .row:nth-child(2) .txt {
    position: absolute;
    top: .3rem;
    left: .5rem; }
  .nav-list .row:nth-child(2) .icon:before {
    font-size: 1.2rem;
    display: inline-block;
    -webkit-transform: translateY(1.2rem);
    transform: translateY(1.2rem); }

.nav-list .link {
  background-color: #fff;
  border-radius: 2px;
  position: relative;
  margin-bottom: .18rem;
  display: block;
  color: #e14a4f;
  text-align: center; }
  .nav-list .link .txt {
    font-size: .6rem; }

.nav-list .search .icon:before {
  content: '\e65c';
  -webkit-transform: translateY(0.2rem);
  transform: translateY(0.2rem); }

.nav-list .advisor .icon:before {
  content: '\e66b'; }

.nav-list .train {
  width: 25%; }
  .nav-list .train .icon:before {
    content: '\e60b'; }

.nav-list .hotel {
  width: 48%; }
  .nav-list .hotel .icon:before {
    content: '\e677'; }

.nav-list .visa {
  width: 25%; }
  .nav-list .visa .icon:before {
    content: '\e669'; }

.bar-moretab {
  position: absolute;
  border-radius: 2px;
  background-color: #fff;
  display: none;
  z-index: 10601;
  right: .4rem;
  bottom: 3rem; }
  .bar-moretab:after {
    position: absolute;
    right: 20%;
    bottom: -.4rem;
    content: '';
    border-top: 0.4rem solid white;
    border-left: 0.4rem dashed transparent;
    border-right: 0.4rem dashed transparent; }
  .bar-moretab .tab-item {
    border-bottom: 1px solid #ebebeb;
    line-height: 2rem;
    display: block;
    padding: .1rem .7rem .1rem .5rem;
    color: #333;
    font-size: .7rem; }
    .bar-moretab .tab-item:last-child {
      border-bottom: none; }
  .bar-moretab .icon {
    margin-right: .4rem; }
    .bar-moretab .icon:before {
      color: #c7585c;
      font-size: .9rem; }
  .bar-moretab .icon-easyorder:before {
    content: '\e673'; }
  .bar-moretab .icon-advisor:before {
    content: '\e675'; }
  .bar-moretab .icon-discover:before {
    content: '\e672'; }
  .bar-moretab .icon-ask:before {
    content: '\e674'; }

.search-passagernumber {
  border-radius: 20px;
  background-color: #fff;
  padding-top: .5rem;
  width: 13rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 10661;
  display: none; }
  .search-passagernumber .item-list {
    padding: .2rem .5rem;
    margin-bottom: .5rem; }
  .search-passagernumber .item-title {
    font-size: .7rem;
    line-height: 1.5rem; }
  .search-passagernumber .number {
    position: absolute;
    left: 50%;
    top: 0;
    z-index: 100;
    -webkit-transform: translate(-50%, -0.3rem);
    transform: translate(-50%, -0.3rem);
    width: 2rem;
    height: 2rem;
    line-height: 1.6rem;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    background-color: #cc3131;
    padding: .2rem 0 0 .7rem; }
  .search-passagernumber .icon-adult:before {
    content: '\e665';
    font-size: .9rem;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    -webkit-transform: translate(0.3rem, 0.4rem);
    transform: translate(0.3rem, 0.4rem); }
  .search-passagernumber .icon-child:before {
    content: '\e671';
    font-size: .6rem;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translate(0.4rem, 0.7rem);
    transform: translate(0.4rem, 0.7rem); }
  .search-passagernumber .icon-minus:before {
    content: '\e66f';
    font-size: .7rem;
    -webkit-transform: translateX(0.7rem);
    transform: translateX(0.7rem); }
  .search-passagernumber .icon-add:before {
    content: '\e670';
    font-size: .7rem;
    -webkit-transform: translateX(1.5rem);
    transform: translateX(1.5rem); }
  .search-passagernumber .item-content {
    position: relative;
    border-radius: 2px;
    width: 6rem; }
  .search-passagernumber .tool {
    display: inline-block;
    width: 50%;
    height: 1.5rem;
    border-radius: 2px;
    border: 1px solid #cc3131; }
    .search-passagernumber .tool:before {
      display: inline-block;
      color: #cc3131; }
    .search-passagernumber .tool.disabled {
      opacity: .5; }
    .search-passagernumber .tool:active {
      background-color: #d75959; }
      .search-passagernumber .tool:active:before {
        color: #fff; }
  .search-passagernumber .hint {
    font-size: .6rem;
    color: #666;
    text-align: center;
    margin-bottom: .4rem; }
  .search-passagernumber .btn {
    width: 100%;
    color: #fff;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    font-size: .7rem;
    background-color: #cc3131;
    display: block;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px; }

.search-list .item-link {
  width: 100%;
  padding: .2rem .75rem;
  border-bottom: 1px solid #e7e7e7; }

.search-list .trip, .search-list .time {
  color: #666;
  font-size: .6rem; }

.search-list .date {
  font-size: .7rem;
  color: #666; }

.search-list .line {
  margin: 0 1rem; }

.search-tab .button:last-child {
  font-size: .6rem; }

