@import "../_mixins";

.order-infobox{
    background-color:#fff;
    padding:.5rem;
}
.order-info{font-size:.8rem;line-height:1.4rem;padding-bottom:.5rem;position:relative;
    .tit{
        display:inline-block;width:5rem;color:#666;
    }
    &+.order-info{
        border-top:1px solid #f1f1f1;padding-top:.5rem;
    }
    .tel{position:absolute;right:.5rem;top:50%;@include transform(translateY(-50%));width:3rem;height:3rem;display:block;background-color:#15cc9e;border-radius:50%;
        &:before{position:absolute;display:inline-block;top:50%;left:50%;@include transform(translate(-50%,-40%));
            content:'\e697';color:#fff;font-size:1.2rem;
        }
    }
}
.product-list{padding:.5rem;font-size:.8rem;
              .item-list{
                  position:relative;
              }
    .item-title{
        line-height:2rem;background-color:#14a07d;color:#fff;padding:0 .5rem; 
    }
    .icon-type{
        font-size:1rem;margin-right:.1rem;
        &.flight{
            &:before{
                content:'\e610'
            }
        }
    }
    .product-name{
        font-size:.9rem;
    }
    .state{
        color:#ff9422;font-size:.7rem;margin-left:.3rem;
    }
    .detail-btn{
        color:#3a6fd1;border:1px solid #3a6fd1;padding:.1rem .5rem;
        border-radius:.15rem;position:absolute;top:50%;right:.5rem;@include transform(translateY(-50%))
    }
    .item-content{
        background-color:#fff;
        padding:.5rem;
    }
}
.order-infobar{
    .tab-item.active, .tab-item:active{
        color:#fff;
    }
   .order-note{
       width:40%;background-color:#149f7c;color:#fff;
     .icon{
         font-size:1rem;
     }
        .icon ~ .tab-label{
          font-size:.7rem;top:0;
       }
   }
   .tab-item{
       display:block;
      
   }
   .order-tools{
       width:100%;background-color:#f79d10;color:#fff;line-height:2.5rem;
   }
   .icon-note{
       &:before{
           content:'\e6c2'
       }
   }
}

.news-orderlist{
    position:relative;
    padding-left:1.5rem;
    height:100%;
    padding-top:.5rem;
    &:after{
        position:absolute;left:.75rem;top:0;width:1px;height:100%;background-color:#dfdfdf;content:'';z-index:0;
    }
    .item-title{@include transform(translateX(-1.15rem));position:relative;z-index:100;margin-bottom:.2rem;font-size:.9rem;
       .icon-dot{margin-right:.2rem;
           &:before{
               content:'\e6c1';font-size:.8rem;color:#14a07d;
           }
       }
    }
    .item-list{
        background-color:#fff;border-radius:.15rem;min-height:2rem;margin-bottom:.5rem;padding-right:.5rem;color:#666;
       &+.item-title{
           padding-top:.2rem;
        }
    }
    .datebox{
        @include flex(0,1,5rem);text-align:center;
    }
    .date{
        font-size:.65rem;line-height:.7rem;
    }
    .time{
      color:#666;font-size:.8rem;
    }
    .name{
        margin-right:1rem;
    }
    .info{
        border-left:1px solid #e9e9e9;padding:.5rem .2rem .5rem .5rem;font-size:.65rem;
    }
}
.order-note-title{
    line-height:2rem;padding-left:.5rem;
}
.pay-hint-title{
    line-height:2rem;
}
.popup-transfer-form{
        background-color:#f2f5f5;
        .searchbar{
            background-color:#fff;
            input{
                background-color:#f2f6f5;
            }
        }
        .content{
            padding-top:.5rem;
        }
}
.transfer-adviser-list{
    li{position:relative;
        background-color:#fff;
        margin-bottom:.5rem;
      
    }
    .avatarbox{
        position:absolute;
        left:.5rem;
        top:.25rem;
        img{
            border-radius:50%;width:3rem;
        }
    }
    .infobox{position:relative;
        margin-left:4rem;
        padding-top:.5rem;
          min-height:3.5rem;
    }
    .state{
        position:absolute;right:1rem;top:50%;@include transform(translateY(-50%));font-size:.6rem;line-height:.7rem;
        color:#14a07d;text-align:center;
        &.outline{
            color:#999
        }
    }
    .name{}
    .num{color:#666;font-size:.7rem;}
}