.passengers-form {
  margin-bottom: .5rem; }
  .passengers-form .list-block {
    position: relative;
    margin-bottom: .5rem; }
  .passengers-form .listbox {
    /*.list-block:first-child {
            .del-passenger { display: none; }
            ul { padding-left: 0; }
        }*/ }
  .passengers-form .block-title {
    padding: .5rem 0 .2rem .5rem;
    position: relative;
    min-height: 2.2rem;
    background-color: #fff;
    border-bottom: 1px solid #ebebeb; }
    .passengers-form .block-title .dsc {
      font-size: .6rem;
      color: #666; }
    .passengers-form .block-title .tit {
      font-size: .8rem;
      line-height: 1rem; }
    .passengers-form .block-title .add-passenger {
      position: absolute;
      top: 50%;
      right: .5rem;
      z-index: 100;
      font-size: .6rem;
      padding: .3rem .5rem;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      background-color: #cc3131;
      color: #fff;
      border-radius: 3px;
      padding: .2rem .5rem; }
  .passengers-form .item-input {
    position: relative;
    margin-bottom: 0;
    margin-top: 0;
    border-bottom: 1px #dcdcdc solid;
    -webkit-box-flex: 1 1 100%;
    -webkit-flex: 1 1 100%;
    -moz-box-flex: 1 1 100%;
    -moz-flex: 1 1 100%;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%; }
    .passengers-form .item-input ~ .item-input {
      margin-left: .75rem; }
  .passengers-form .firstname {
    width: 35%; }
  .passengers-form .lastname {
    width: 65%; }
  .passengers-form .idnumber {
    width: 60%; }
  .passengers-form .papers {
    width: 40%; }
  .passengers-form .type-title {
    position: absolute;
    top: .2rem;
    left: .25rem;
    color: #999;
    font-size: .6rem;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    pointer-events: none; }
    .passengers-form .type-title ~ input {
      padding-top: .8rem;
      height: 2.5rem; }
    .passengers-form .type-title ~ select {
      padding-top: .8rem;
      height: 2.5rem;
      padding-left: 0; }
    .passengers-form .type-title.active {
      font-size: .8em;
      -webkit-transform: translate3d(0, 0.5rem, 0);
      transform: translate3d(0, 0.5rem, 0); }
  .passengers-form .del-passenger {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 100;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-top: -.25rem;
    padding: .5rem; }
    .passengers-form .del-passenger:before {
      content: '\e624';
      font-size: 1rem;
      color: #cc3131; }
    .passengers-form .del-passenger + ul {
      padding-left: 1.2rem; }
  .passengers-form .add-btnbox {
    background-color: #fff;
    padding: .5rem; }
    .passengers-form .add-btnbox .button {
      width: 60%;
      height: 1.9rem;
      line-height: 1.9rem;
      border: 2px solid #cc3131;
      color: #d45151;
      font-size: .8rem; }
      .passengers-form .add-btnbox .button .icon-sign:before {
        content: '\e653';
        font-size: 1rem; }

.passengers-list .item-inner {
  display: block; }

.passengers-list .label-checkbox ~ .item-inner {
  padding-left: 2rem; }

.passengers-list .extra {
  color: #666; }
  .passengers-list .extra + .extra {
    margin-left: .5rem; }

.passengers-list .edit {
  position: absolute;
  top: 50%;
  right: .5rem;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  border: 1px solid #0077ed;
  font-size: .7rem;
  border-radius: 3px;
  z-index: 101;
  padding: .2rem .4rem; }

.passengers-list .papers-id {
  font-size: .65rem; }

.passengers-list .papers {
  padding-right: 2rem;
  color: #666; }
  .passengers-list .papers input {
    margin: 0 .1rem 0 .05rem;
    border: 1px solid #eee;
    border-radius: 2px; }
  .passengers-list .papers .tit {
    -webkit-flex-shrink: 0;
    -ms-flex: 0 0 auto;
    flex-shrink: 0; }
  .passengers-list .papers span {
    white-space: nowrap; }

.passengers-common {
  background-color: #fff;
  padding: 0 .5rem .5rem .5rem; }
  .passengers-common label {
    display: block;
    position: relative;
    font-size: .7rem; }
  .passengers-common .item-inner {
    min-height: 1.8rem;
    padding-right: .5rem; }
    .passengers-common .item-inner:after {
      display: none; }
  .passengers-common .hint {
    background-color: #fff9df;
    font-size: .6rem;
    color: #666;
    padding-left: .1rem; }
    .passengers-common .hint span + span {
      margin-left: .8rem; }
  .passengers-common .icon-hint:before {
    content: '\e6a4';
    color: #fbc16a; }

.passengers-add-popup {
  background-color: #f6f6f6; }

.form-txt-hint {
  color: #999;
  font-size: .7rem;
  padding-left: .75rem;
  line-height: 1.5rem;
  padding-top: .25rem; }

.passengers-select-list .txt {
  color: #999; }

.passengers-select-list .name {
  color: #333; }

.order-invoice {
  background-color: #fff;
  margin-top: .5rem; }
  .order-invoice #yqfAddress {
    display: none; }
  .order-invoice .block-title {
    padding-left: .5rem;
    position: relative; }
    .order-invoice .block-title .tit {
      line-height: 2.2rem; }
    .order-invoice .block-title .label-switch {
      position: absolute;
      top: 50%;
      right: .5rem;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%); }
  .order-invoice .address-addbtnbox {
    padding-bottom: .5rem;
    text-align: right; }
    .order-invoice .address-addbtnbox .btn {
      padding: .1rem .25rem;
      border: 1px solid #cc3131;
      color: #cc3131;
      border-radius: .3rem; }
  .order-invoice .yqf-address {
    display: none; }

.address-list .item-inner {
  display: block; }

.address-list .name ~ .extra {
  margin-left: .5rem; }

.address-list .extra {
  color: #666; }

.list-block-title {
  line-height: 1.5rem;
  padding-top: .25rem;
  padding-left: .75rem;
  font-size: .8rem; }

.country-flag-list {
  background-color: #fff;
  overflow: hidden;
  padding-top: .75rem; }
  .country-flag-list a {
    display: block;
    float: left;
    margin: 0 0 .5rem .75rem;
    width: 3rem;
    color: #333;
    font-size: .65rem; }
  .country-flag-list .avatar {
    width: 3rem;
    height: 1.5rem; }
  .country-flag-list .name {
    text-align: center;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; }

.visa-list.product .item-content {
  display: block; }

.visa-list li {
  margin-bottom: .2rem; }

.visa-list .item-toggle {
  position: relative;
  background-color: #fff;
  font-size: .75rem;
  line-height: 1.75rem;
  padding-left: .75rem; }
  .visa-list .item-toggle:before {
    position: absolute;
    right: .5rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    display: block;
    content: '\e616';
    color: #cc3131; }

.visa-list .item-content {
  display: none; }
  .visa-list .item-content.active {
    display: block; }

.visa-list .item-list {
  position: relative;
  background-color: #fff9de;
  padding: 0 2rem 0 .75rem;
  font-size: .7rem;
  border-top: 1px solid #ebebeb;
  color: #333;
  line-height: 1.75rem; }
  .visa-list .item-list:before {
    position: absolute;
    right: .5rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    display: block;
    content: '\e618';
    color: #cc3131; }
  .visa-list .item-list span {
    display: block; }

.visa-list .price {
  font-size: .6rem; }
  .visa-list .price em {
    font-size: .8rem;
    margin-left: 0; }

.confirm-bar .leftbox {
  width: 60%;
  text-align: center;
  line-height: 2.5rem;
  font-size: .65rem; }

.confirm-bar .rightbox {
  width: 40%;
  text-align: center; }

.confirm-bar .confirm-submit-btn {
  color: #fff;
  background-color: #cc3131;
  border: none;
  width: 100%;
  height: 2.5rem; }
  .confirm-bar .confirm-submit-btn .preloader {
    margin-right: .2rem;
    position: relative;
    top: .2rem; }

.confirm-bar .show-detail-btn {
  margin-left: .5rem;
  color: #666; }
  .confirm-bar .show-detail-btn .icon-arrow-up {
    margin-left: .2rem; }

.confirm-bar .price em {
  font-size: 1.1rem; }

.confirm-bar [disabled] {
  background-color: #ccc; }

.visa-title-bar {
  background-color: #f44848;
  color: #fff;
  text-align: center;
  height: 2.8rem; }
  .visa-title-bar .price {
    color: #fff;
    line-height: 1.6rem; }
    .visa-title-bar .price em {
      font-size: 1.4rem; }
  .visa-title-bar ~ .content {
    top: 5rem; }
  .visa-title-bar .tit {
    line-height: 1rem; }

.visa-info-list {
  background-color: #fff;
  overflow: hidden;
  margin: .75rem 0; }
  .visa-info-list li {
    float: left;
    width: 50%;
    padding: .5rem .5rem .3rem; }
    .visa-info-list li:nth-child(2n) {
      border-left: 1px solid #ebebeb; }
    .visa-info-list li:nth-child(3), .visa-info-list li:nth-child(4) {
      border-top: 1px solid #ebebeb; }
  .visa-info-list .item-des {
    color: #999;
    font-size: .7rem; }

.visa-detail-link {
  position: relative;
  background-color: #fff; }
  .visa-detail-link .link {
    display: block;
    padding: .5rem;
    color: #333; }
  .visa-detail-link .icon {
    position: absolute;
    right: .5rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    display: inline-block; }
    .visa-detail-link .icon:before {
      content: '\e618';
      color: #dcdcdc; }

.accordion-list {
  background-color: #fff; }
  .accordion-list .accordion-item {
    border-bottom: 1px solid #ebebeb; }
  .accordion-list .item-content {
    position: relative;
    padding-left: .5rem;
    line-height: 2.5rem; }
    .accordion-list .item-content:before {
      display: inline-block;
      position: absolute;
      top: 50%;
      right: .5rem;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      content: '\e616';
      color: #dcdcdc; }
    .accordion-list .item-content.active:before {
      content: '\e617'; }
  .accordion-list .info-content + .info-title {
    margin-top: .5rem; }
  .accordion-list .info-title {
    font-size: .8rem; }
    .accordion-list .info-title em {
      -webkit-transform: translateY(-0.1rem);
      transform: translateY(-0.1rem);
      display: inline-block;
      line-height: .8rem;
      border: 1px solid #f44848;
      color: #f44848;
      border-radius: .2rem;
      font-size: .6rem;
      padding: 0 .2rem; }
      .accordion-list .info-title em.copy {
        color: #26b948; }
  .accordion-list .accordion-item-content {
    height: auto;
    display: none;
    padding: 0 .5rem .5rem;
    color: #666; }
    .accordion-list .accordion-item-content.active {
      display: block; }

