@charset "UTF-8";
/*-------------图标字体    begin---------------*/
@font-face {
  font-family: 'iconfont';
  src: url("//at.alicdn.com/t/font_1467428539_0207458.eot");
  /* IE9*/
  src: url("//at.alicdn.com/t/font_1467428539_0207458.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_1467428539_0207458.woff") format("woff"), url("//at.alicdn.com/t/font_1467428539_0207458.ttf") format("truetype"), url("//at.alicdn.com/t/font_1467428539_0207458.svg#iconfont") format("svg");
  /* iOS 4.1- */ }

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }

[class^="icon-"]:before, [class*=" icon-"]:before, .flight-accordion-list .item-list::before, .list-block .item-inner:before, .list-block .item-input.arrow:before, .intlflight-list .item-list:before, .picker-calendar.flight .picker-calendar-month-current:before, .intlflight-list.privilege .item-link:before {
  font-family: "iconfont" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  margin-right: 2px;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }

[class^="icon-"], [class*=" icon-"] {
  position: relative; }

.icon-arrow-left:before {
  content: '\e608'; }

.icon-arrow-right:before {
  content: '\e618'; }

.icon-arrow-up:before {
  content: '\e617'; }

.icon-clock:before {
  content: '\e637'; }

.icon-share::before {
  content: '\e679'; }

.icon-scan:before {
  content: '\e60a'; }

.icon-info:before {
  content: '\e6b2'; }

/*-------------图标字体    end-------------------------*/
.flexbox, .flex-start, .flex-between, .flex-around, .flex-center, .flex-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

.flex-start {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start; }

.flex-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between; }

.flex-around {
  -webkit-box-pack: space-around;
  -ms-flex-pack: space-around;
  -webkit-justify-content: space-around;
  justify-content: space-around; }

.flex-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center; }

.flex-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end; }

.flex-items-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }

.flex-items-top {
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start; }

.flex-wrap {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple; }

.flex-shrink {
  -webkit-flex-shrink: 0;
  -ms-flex: 0 0 auto;
  flex-shrink: 0; }

.list-block {
  margin: 0; }
  .list-block .block {
    display: block; }
  .list-block.align-right input[type="text"], .list-block.align-right input[type="password"], .list-block.align-right input[type="email"], .list-block.align-right input[type="tel"], .list-block.align-right input[type="url"], .list-block.align-right input[type="date"], .list-block.align-right input[type="datetime-local"], .list-block.align-right input[type="time"], .list-block.align-right input[type="number"], .list-block.align-right input[type="search"], .list-block.align-right select, .list-block.align-right textarea {
    text-align: right; }
  .list-block input[type="text"], .list-block input[type="password"], .list-block input[type="email"], .list-block input[type="tel"], .list-block input[type="url"], .list-block input[type="date"], .list-block input[type="datetime-local"], .list-block input[type="time"], .list-block input[type="number"], .list-block input[type="search"], .list-block select, .list-block textarea {
    font-size: .8rem; }
  .list-block textarea {
    height: 4rem; }
  .list-block .item-link .item-inner {
    background: none; }
    .list-block .item-link .item-inner:before {
      position: absolute;
      right: 5px;
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      content: '\e618';
      color: #c8c8cd; }
  .list-block input.label-checkbox, .list-block input.label-radio {
    display: block; }
  .list-block .label-checkbox, .list-block .label-radio {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-appearance: button;
    -moz-appearance: button;
    border: none;
    background-color: transparent;
    z-index: 100;
    opacity: 0; }
    .list-block .label-checkbox:active, .list-block .label-checkbox.active, .list-block .label-radio:active, .list-block .label-radio.active {
      opacity: .2;
      outline: none; }
    .list-block .label-checkbox ~ .item-inner:before, .list-block .label-radio ~ .item-inner:before {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%); }
  .list-block .label-checkbox ~ .item-inner {
    padding-left: 1.7rem; }
    .list-block .label-checkbox ~ .item-inner:before {
      border: 1px solid #c7c7cc;
      border-radius: 1.1rem;
      box-sizing: border-box;
      height: 1.1rem;
      width: 1.1rem;
      display: block;
      content: '';
      left: .3rem;
      font-size: 0.8rem;
      text-indent: 0.15rem;
      line-height: 1.3rem; }
  .list-block .label-checkbox:checked ~ .item-inner:before {
    border: none;
    content: '\e6b1';
    background-color: #f44848;
    color: #fff; }
  .list-block .label-radio ~ .item-inner:before {
    right: .5rem;
    font-size: 1.4rem;
    color: #f44848; }
  .list-block .label-radio:checked ~ .item-inner:before {
    content: '\e6b1'; }
  .list-block .item-divider, .list-block .list-group-title {
    color: #666;
    font-size: .7rem; }
  .list-block .item-input {
    position: relative; }
    .list-block .item-input.arrow {
      padding-right: 2rem; }
      .list-block .item-input.arrow:before {
        position: absolute;
        right: .7rem;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        color: #999; }
    .list-block .item-input.arrow-down:before {
      content: '\e616'; }

.bar:after {
  display: none; }

.bar.bar-nav {
  background-color: #f44848; }

.bar.outset {
  padding-left: 0;
  padding-right: 0; }

.bar .buttons-tab .button {
  top: 0; }

.bar .button-link {
  color: #fff; }
  .bar .button-link.active, .bar .button-link:active {
    color: #fff; }

.bar .button-only {
  background-color: #f44848;
  color: #fff; }

.bar .title {
  color: #fff; }

.bar button.pull-right {
  line-height: .8rem;
  border: 1px solid #fff;
  -webkit-transform: translateY(0.1rem);
  transform: translateY(0.1rem);
  font-size: .6rem;
  color: #fff; }

.bar .icon {
  padding-left: 5px;
  padding-right: 5px; }
  .bar .icon:before {
    color: #fff; }

.bar .icon-left:before {
  content: '\e608'; }

.bar .icon-home:before {
  content: '\e60e'; }

.bar .icon-tel:before {
  content: '\e606'; }

.bar .icon-message.active {
  position: relative; }
  .bar .icon-message.active:after {
    background-color: #fff;
    border-radius: 50%;
    content: "";
    display: block;
    height: 0.3rem;
    position: absolute;
    right: -0.05rem;
    top: 0.4rem;
    width: 0.3rem; }

.bar .icon-message:before {
  content: '\e6d4'; }

.bar .icon-filter:before {
  content: '\e62f'; }

.bar .icon-price:before {
  content: '\e630'; }

.bar .icon-time:before {
  content: '\e633'; }

.bar .right .icon + .icon {
  margin-right: 5px; }

.bar .link {
  color: #fff;
  font-size: .8rem; }

.bar.bar-preloader {
  height: 1.5rem; }
  .bar.bar-preloader ~ .content {
    top: 3.7rem; }

.searchbar .btn {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0 2%; }
  .searchbar .btn:active {
    border: none; }

.buttons-tab .button.active {
  color: #f44848;
  border-color: #f44848; }

.button {
  border-color: #f44848;
  color: #f44848; }
  .button.button-fill {
    background-color: #f44848; }
    .button.button-fill.active {
      background-color: #f44848; }
    .button.button-fill:active {
      background-color: rgba(244, 72, 72, 0.8);
      color: #fff; }

.picker-modal .bar .title {
  color: #fff; }

.picker-modal .bar .close-picker {
  color: #fff; }

p {
  margin-top: 0;
  margin-bottom: 0; }

.bar-header-secondary {
  background: #f7f7f8; }
  .bar-header-secondary .icon {
    padding-left: 0; }
  .bar-header-secondary .icon:before {
    color: #b4b4b4; }
  .bar-header-secondary .icon-search:before {
    content: "\e65c"; }

.popup.popup-mini {
  height: 50%;
  top: auto;
  bottom: 0; }
  .popup.popup-mini .bar ~ .popup-inner {
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
    padding-top: 2.2rem;
    height: 100%;
    z-index: 0;
    width: 100%; }
  .popup.popup-mini .subbar ~ .popup-inner {
    padding-top: 4.4rem; }
  .popup.popup-mini .subbar {
    position: absolute;
    top: 2.2rem;
    left: 0;
    width: 100%;
    height: 2.2rem;
    z-index: 100;
    line-height: 2.2rem;
    padding: 0 .5rem; }

.bar-header-mult {
  top: 4.4rem; }
  .bar-header-mult ~ .content {
    top: 6.6rem; }

.picker-calendar .toolbar {
  background-color: #f44848;
  color: #fff; }
  .picker-calendar .toolbar .icon-prev:before {
    content: '\e608'; }
  .picker-calendar .toolbar .icon-next:before {
    content: '\e618'; }
  .picker-calendar .toolbar .icon {
    background-image: none; }
    .picker-calendar .toolbar .icon:before {
      color: #fff;
      font-size: .8rem;
      display: block; }

.picker-calendar .picker-calendar-day-today span {
  color: #999; }

.picker-calendar .picker-calendar-day-selected span {
  background-color: #f44848; }

.picker-calendar .picker-calendar-month-picker, .picker-calendar .picker-calendar-year-picker {
  max-width: none; }

.picker-calendar .toolbar-inner {
  /*& > div:nth-child(1) {
            -webkit-order: 1;
            order: 1;
        }

        & > div:nth-child(2) {
            -webkit-order: 0;
            order: 0;
        }*/ }

.popover {
  position: relative;
  width: 80vw;
  height: auto;
  padding: .5rem 0; }
  .popover .inner {
    text-align: left;
    overflow: auto;
    max-height: 70vh;
    padding: 0 1rem; }
  .popover .closed {
    position: absolute;
    right: .2rem;
    top: .2rem;
    font-size: 1rem;
    color: #fff;
    padding: 0 .5rem; }

.icon-next, .icon-prev {
  height: auto;
  width: auto; }

.label-switch {
  overflow: hidden; }
  .label-switch .checkbox {
    display: block; }

.picker-items-col {
  width: 100%; }

.page, .page-group {
  background-color: #f5f5f5; }

.custom-list {
  position: relative; }
  .custom-list .del {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 100;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-top: -.25rem;
    padding: .5rem; }
    .custom-list .del:before {
      content: '\e624';
      font-size: 1rem;
      color: #cc3131; }
    .custom-list .del + ul {
      padding-left: 1.2rem; }
    .custom-list .del + .item-inner {
      padding-left: 1.2rem; }

.block {
  display: block; }

.vam {
  vertical-align: middle; }

.hide {
  display: none; }

ul, li {
  padding: 0;
  margin: 0;
  list-style: none; }

.w100 {
  width: 100%; }

.text-center {
  text-align: center; }

.text-over {
  overflow: hidden;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%; }

.text-nowrap {
  white-space: nowrap; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.ofh {
  overflow: hidden; }

.gray0 {
  color: #000; }

.gray3 {
  color: #333; }

.gray6 {
  color: #666; }

.gray9 {
  color: #999; }

.white {
  color: white; }

.bg-white {
  background-color: white; }

.radius50 {
  border-radius: 50%; }

.fb {
  font-weight: bold; }

.fn {
  font-weight: normal; }

.ft16 {
  font-size: 16px; }

.ft18 {
  font-size: 18px; }

.ft20 {
  font-size: 20px; }

.ft14 {
  font-size: 14px; }

.ft12 {
  font-size: 12px; }

.ft24 {
  font-size: 24px; }

.ft26 {
  font-size: 26px; }

.ml10 {
  margin-left: 10px; }

.ml20 {
  margin-left: 20px; }

.mr10 {
  margin-right: 10px; }

.ml5 {
  margin-left: 5px; }

.mr5 {
  margin-right: 5px; }

.mr20 {
  margin-right: 20px; }

.mt10 {
  margin-top: 10px; }

.mt5 {
  margin-top: 5px; }

.mb10 {
  margin-bottom: 10px; }

.mb20 {
  margin-bottom: 20px; }

.mb5 {
  margin-bottom: 5px; }

.mg10 {
  margin: 10px; }

.pt10 {
  padding-top: 10px; }

.pt5 {
  padding-top: 5px; }

.pr10 {
  padding-right: 10px; }

.pb10 {
  padding-bottom: 10px; }

.pb5 {
  padding-bottom: 5px; }

.pl10 {
  padding-left: 10px; }

.pd10 {
  padding: 10px; }

.pl15 {
  padding-left: 15px; }

.price {
  color: #f44848; }

.price em {
  font-size: 18px;
  margin-left: 2px; }

.textareabox {
  border: 1px solid #cbcbcb;
  width: 100%;
  padding: 5px; }

.border-top:before {
  content: '';
  position: absolute;
  left: auto;
  top: auto;
  bottom: auto;
  right: auto;
  height: 0;
  width: 100%;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #ebebeb;
  display: block;
  z-index: 15;
  transform-origin: 50%, 0;
  -webkit-transform-origin: 50%, 0;
  left: 0;
  top: 0; }

.border-bottom:after {
  content: '';
  position: absolute;
  left: auto;
  top: auto;
  bottom: auto;
  right: auto;
  height: 0;
  width: 100%;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ebebeb;
  display: block;
  z-index: 15;
  transform-origin: 50%, 0;
  -webkit-transform-origin: 50%, 0;
  left: 0;
  bottom: 0; }

.border-left:before {
  content: '';
  position: absolute;
  left: auto;
  top: auto;
  bottom: auto;
  right: auto;
  height: 0;
  width: 100%;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #ebebeb;
  display: block;
  z-index: 15;
  transform-origin: 50%, 0;
  -webkit-transform-origin: 50%, 0;
  left: 0;
  top: 0;
  width: 0;
  height: 100%; }

.border-right:after {
  content: '';
  position: absolute;
  left: auto;
  top: auto;
  bottom: auto;
  right: auto;
  height: 0;
  width: 100%;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #ebebeb;
  display: block;
  z-index: 15;
  transform-origin: 50%, 0;
  -webkit-transform-origin: 50%, 0;
  right: 0;
  top: 0;
  width: 0;
  height: 100%; }

.item-side {
  -webkit-flex-shrink: 0;
  -ms-flex: 0 0 auto;
  flex-shrink: 0; }

/*定位*/
.position-a {
  position: absolute; }

.position-r, .border-top, .border-bottom, .border-left, .border-right {
  position: relative; }

.position-s {
  position: static; }

.position-x-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%); }

.position-y-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%); }

.position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%); }

/*通用浮动*/
.fl {
  float: left; }

.fr {
  float: right; }

/* === Accordion === */
.list-block .accordion-item-toggle {
  cursor: pointer;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms; }
  .list-block .accordion-item-toggle .item-inner {
    padding-right: 35px; }
  html:not(.watch-active-state) .list-block .accordion-item-toggle:active, .list-block .accordion-item-toggle.active-state {
    -webkit-transition-duration: 0ms;
    transition-duration: 0ms;
    background-color: #d9d9d9; }
    html:not(.watch-active-state) .list-block .accordion-item-toggle:active > .item-inner:after, .list-block .accordion-item-toggle.active-state > .item-inner:after {
      display: none; }

.list-block .accordion-item-toggle .item-inner, .list-block .accordion-item > .item-link .item-inner {
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  -webkit-transition-property: background-color;
  transition-property: background-color; }
  .list-block .accordion-item-toggle .item-inner:after, .list-block .accordion-item > .item-link .item-inner:after {
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms; }

.list-block .accordion-item-expanded .accordion-item-toggle .item-inner:after, .list-block .accordion-item-expanded > .item-link .item-inner:after {
  display: none; }

.list-block .accordion-item .content-block, .list-block .accordion-item .list-block {
  margin-top: 0;
  margin-bottom: 0; }

.list-block .accordion-item ul {
  padding-left: 0; }

.accordion-item-content {
  position: relative;
  overflow: hidden;
  height: 0;
  font-size: 14px;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }
  .accordion-item-expanded > .accordion-item-content {
    height: auto; }
  html.android-4 .accordion-item-content {
    -webkit-transform: none;
    transform: none; }

* {
  box-sizing: border-box; }

body {
  font-family: "Helvetica Neue",Helvetica,"Segoe UI",Arial,"Microsoft YaHei",FreeSans,Arimo,"Droid Sans","wenquanyi micro hei",sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0; }

em, i {
  font-style: normal; }

dl, dt, dd {
  margin: 0;
  padding: 0; }

a {
  color: #0077ed; }

.button:active {
  border-color: transparent;
  color: transparent; }

.nodata {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  z-index: 100; }
  .nodata .icon {
    margin-bottom: 5px; }
    .nodata .icon:before {
      color: #999;
      font-size: 50px; }
  .nodata .icon-nodata:before {
    content: '\e615'; }
  .nodata .txt {
    color: #999;
    font-size: 12px; }

.error-block {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 80%;
  -webkit-transform: translate3d(-50%, -60%, 0);
  transform: translate3d(-50%, -60%, 0); }
  .error-block .icon {
    width: 120px; }
  .error-block .imgbox {
    margin-bottom: .5rem;
    text-align: center; }
  .error-block .txt {
    color: #666;
    font-size: .6rem;
    text-align: center;
    margin-bottom: .8rem; }

.tabbar-labels {
  background-color: #0a3230; }
  .tabbar-labels:before {
    display: none; }
  .tabbar-labels .tab-label {
    color: #aaaaaa; }
  .tabbar-labels .icon-home:before {
    content: '\e678'; }
  .tabbar-labels .icon-trip:before {
    content: '\e66e'; }
  .tabbar-labels .icon-me:before {
    content: '\e64f'; }
  .tabbar-labels .icon-more:before {
    content: '\e620'; }
  .tabbar-labels .icon:before {
    color: #929292; }
  .tabbar-labels .tab-item .icon {
    font-size: .8rem; }
    .tabbar-labels .tab-item .icon:before {
      display: inline-block;
      top: 0; }
    .tabbar-labels .tab-item .icon ~ .tab-label {
      font-size: .7rem;
      top: 0; }
  .tabbar-labels .tab-item.active .tab-label {
    color: #c33035; }
  .tabbar-labels .tab-item.active .icon {
    color: #c33035; }
    .tabbar-labels .tab-item.active .icon:before {
      color: #c33035; }
  .tabbar-labels .tab-item:active {
    color: #c33035; }
  .tabbar-labels .tab-item .icon-home:before {
    -webkit-transform: translateY(0rem);
    transform: translateY(0rem); }

.modal-custom.modal-in {
  -webkit-transform: translate3d(0, 15%, 0);
  transform: translate3d(0, 15%, 0); }

.modal-custom .modal-text {
  font-size: .6rem;
  text-align: left; }

.modal-custom .close {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 1rem;
  padding: .1rem .5rem; }

.list-block-title {
  padding-left: .75rem;
  line-height: 1.5rem; }

.custom-searchbar .search-input {
  margin-right: 2.5rem; }

.custom-searchbar .searchbar-cancel {
  margin-right: 0;
  opacity: 1; }

.page-cover {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2001;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s; }
  .page-cover.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  .page-cover .bg {
    width: 100%;
    height: 100%;
    background-color: transparent;
    position: absolute;
    z-index: 0; }
  .page-cover .logout .item-title {
    margin-left: .5rem; }
  .page-cover .setting-box {
    background: #fff;
    width: 70%;
    position: absolute;
    height: 100%;
    z-index: 1; }
    .page-cover .setting-box .head-box {
      background: #2c3442;
      text-align: center;
      padding: 25px 0 20px;
      color: #fff; }
      .page-cover .setting-box .head-box .head {
        border-radius: 50%;
        border: 2px solid #fff;
        width: 80px;
        height: 80px;
        margin: 0 auto 10px; }
      .page-cover .setting-box .head-box .head img {
        width: 100%;
        height: 100%;
        border-radius: 50%; }
      .page-cover .setting-box .head-box .name {
        letter-spacing: 1px; }
    .page-cover .setting-box .list-block .item-inner:after {
      background: #e4e4e4; }
    .page-cover .setting-box .list-block li {
      color: #333; }
    .page-cover .setting-box .list-block a {
      color: #333; }
    .page-cover .setting-box .list-block .item-after {
      color: #333;
      position: absolute;
      right: 15px;
      top: 50%;
      margin-top: -10px; }
    .page-cover .setting-box .list-block .icon-cancel {
      position: absolute;
      top: 50%;
      transform: translateY(-40%);
      -webkit-transform: translateY(-40%); }
    .page-cover .setting-box .list-block .icon-cancel:before {
      content: "\e648";
      color: #d82028;
      font-size: 25px; }
    .page-cover .setting-box .list-block .flag {
      width: 23px;
      height: 16px;
      display: inline-block;
      margin: 2px 5px 0 0; }
    .page-cover .setting-box .list-block .flag img {
      width: 100%;
      height: 100%; }
    .page-cover .setting-box .list-block .red {
      color: #d82028; }
    .page-cover .setting-box .list-block ul:before, .page-cover .setting-box .list-block ul:after {
      background: #e4e4e4; }
    .page-cover .setting-box .version {
      color: #ccc;
      text-align: center;
      position: absolute;
      bottom: 0;
      width: 100%;
      z-index: 0; }
      .page-cover .setting-box .version .logo {
        width: 135px;
        margin: 0 auto; }
      .page-cover .setting-box .version .logo img {
        width: 100%;
        height: 100%; }
      .page-cover .setting-box .version .v-texet {
        margin-top: -12px;
        font-size: 14px; }
  .page-cover ul + ul {
    margin-top: .5rem; }

