.order-infobox {
  background-color: #fff;
  padding: .5rem; }

.order-info {
  font-size: .8rem;
  line-height: 1.4rem;
  padding-bottom: .5rem;
  position: relative; }
  .order-info .tit {
    display: inline-block;
    width: 5rem;
    color: #666; }
  .order-info + .order-info {
    border-top: 1px solid #f1f1f1;
    padding-top: .5rem; }
  .order-info .tel {
    position: absolute;
    right: .5rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 3rem;
    height: 3rem;
    display: block;
    background-color: #15cc9e;
    border-radius: 50%; }
    .order-info .tel:before {
      position: absolute;
      display: inline-block;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -40%);
      transform: translate(-50%, -40%);
      content: '\e697';
      color: #fff;
      font-size: 1.2rem; }

.product-list {
  padding: .5rem;
  font-size: .8rem; }
  .product-list .item-list {
    position: relative; }
  .product-list .item-title {
    line-height: 2rem;
    background-color: #14a07d;
    color: #fff;
    padding: 0 .5rem; }
  .product-list .icon-type {
    font-size: 1rem;
    margin-right: .1rem; }
    .product-list .icon-type.flight:before {
      content: '\e610'; }
  .product-list .product-name {
    font-size: .9rem; }
  .product-list .state {
    color: #ff9422;
    font-size: .7rem;
    margin-left: .3rem; }
  .product-list .detail-btn {
    color: #3a6fd1;
    border: 1px solid #3a6fd1;
    padding: .1rem .5rem;
    border-radius: .15rem;
    position: absolute;
    top: 50%;
    right: .5rem;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
  .product-list .item-content {
    background-color: #fff;
    padding: .5rem; }

.order-infobar .tab-item.active, .order-infobar .tab-item:active {
  color: #fff; }

.order-infobar .order-note {
  width: 40%;
  background-color: #149f7c;
  color: #fff; }
  .order-infobar .order-note .icon {
    font-size: 1rem; }
  .order-infobar .order-note .icon ~ .tab-label {
    font-size: .7rem;
    top: 0; }

.order-infobar .tab-item {
  display: block; }

.order-infobar .order-tools {
  width: 100%;
  background-color: #f79d10;
  color: #fff;
  line-height: 2.5rem; }

.order-infobar .icon-note:before {
  content: '\e6c2'; }

.news-orderlist {
  position: relative;
  padding-left: 1.5rem;
  height: 100%;
  padding-top: .5rem; }
  .news-orderlist:after {
    position: absolute;
    left: .75rem;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: #dfdfdf;
    content: '';
    z-index: 0; }
  .news-orderlist .item-title {
    -webkit-transform: translateX(-1.15rem);
    transform: translateX(-1.15rem);
    position: relative;
    z-index: 100;
    margin-bottom: .2rem;
    font-size: .9rem; }
    .news-orderlist .item-title .icon-dot {
      margin-right: .2rem; }
      .news-orderlist .item-title .icon-dot:before {
        content: '\e6c1';
        font-size: .8rem;
        color: #14a07d; }
  .news-orderlist .item-list {
    background-color: #fff;
    border-radius: .15rem;
    min-height: 2rem;
    margin-bottom: .5rem;
    padding-right: .5rem;
    color: #666; }
    .news-orderlist .item-list + .item-title {
      padding-top: .2rem; }
  .news-orderlist .datebox {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 5rem;
    -moz-box-flex: 0;
    -moz-flex: 0 1 5rem;
    -ms-flex: 0 1 5rem;
    flex: 0 1 5rem;
    text-align: center; }
  .news-orderlist .date {
    font-size: .65rem;
    line-height: .7rem; }
  .news-orderlist .time {
    color: #666;
    font-size: .8rem; }
  .news-orderlist .name {
    margin-right: 1rem; }
  .news-orderlist .info {
    border-left: 1px solid #e9e9e9;
    padding: .5rem .2rem .5rem .5rem;
    font-size: .65rem; }

.order-note-title {
  line-height: 2rem;
  padding-left: .5rem; }

.pay-hint-title {
  line-height: 2rem; }

.popup-transfer-form {
  background-color: #f2f5f5; }
  .popup-transfer-form .searchbar {
    background-color: #fff; }
    .popup-transfer-form .searchbar input {
      background-color: #f2f6f5; }
  .popup-transfer-form .content {
    padding-top: .5rem; }

.transfer-adviser-list li {
  position: relative;
  background-color: #fff;
  margin-bottom: .5rem; }

.transfer-adviser-list .avatarbox {
  position: absolute;
  left: .5rem;
  top: .25rem; }
  .transfer-adviser-list .avatarbox img {
    border-radius: 50%;
    width: 3rem; }

.transfer-adviser-list .infobox {
  position: relative;
  margin-left: 4rem;
  padding-top: .5rem;
  min-height: 3.5rem; }

.transfer-adviser-list .state {
  position: absolute;
  right: 1rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: .6rem;
  line-height: .7rem;
  color: #14a07d;
  text-align: center; }
  .transfer-adviser-list .state.outline {
    color: #999; }

.transfer-adviser-list .num {
  color: #666;
  font-size: .7rem; }

